.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color:#5c00e7;
    color: white;
    font-weight: 600;
    min-width: 400px;
  }
  .spacer {
    flex: 1;
  }
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a:hover {
    text-decoration: none;
  }
  .app-title {
    margin-left: 20px;
    font-size: large;
  }
  .nav-text {
    margin: 20px;
    font-size: large;
    color: white;
    text-decoration: none;
  }
  .active-link {
    padding-top: 15%;
    padding-bottom: 12%;
    background-color:#7127df;
  }
  .nav-class {
    margin-right: 20px;
  }


